 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
     <!-- <i class="devicon-css3-plain-wordmark colored"></i> -->
      <p>I am familiar with HTML, CSS, JavaScript, Bootstrap and currently learning ASP.NET.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I knows many different coding languages from the archaic Visual Basic 6.0 to the more advance .NET core, C++, C#, HTML,
      CSS, Javascript, Java, SQL, Python.  </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <!-- <i class="devicon-jquery-plain-wordmark colored"></i> -->
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>To complete my projects and experiments I use tools like Atom, Visual Studios, Eclipse and of course I love using Github.</p>
    </div>
</div>
<div class="user-details">
 <h1>About Me Part 2</h1>
 <p> {{site.user_description}} </p>
</div>
 <div class="user">
   <div class="tech">
    <h2> Contact Info </h2>
    <p> willmechler@gmail.com </p>
    <p> Resume link below: </p>  <a aria-label="Send email" href="/personal/assets/img/WilliamMechler,Resume.pdf" target="_blank"><i class="fa fa-file-word-o" style="font-size:36px"></i></a>
    </div>
  <br>
  <br>
  <div class="user">
  <div class="tech">
   <h2> Education </h2>
   <p> Currently enrolled at Miami University </p>
   <p> Pursuing a Bachelor of Science in Computer Science and a Minor in Economics </p>
   <p> Graduated from Mason High School on May/2019 </p>
   <p> Completed Computer Programming I, II and III</p>
   <p> Completed Computer Aided Design </p> 
   <p> Completed Engineering CAD </p>
  </div>
  </div>
  <div class-"user">
  <div class="tech">
   <h2>Community Involvement</h2>
   <p> Toys for Tots:</p> 
     <p>2013-2016 </p>
   <p> Jose Cerda Aquatic Foundation:</p> 
     <p>2013-current</p>
   <p> Teacher’s aid. Helping to teach a<br> programming class:</p> 
     <p>January 2018-current	</p>
   <p> Matthew 25 Ministries:</p> 
     <p>2010-current</p>
   </div>
  </div>
 </div>
