<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!-- kroger -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/KrogerLogo.png" | prepend: site.baseurl }}" style="width:200px;height:200px;"/>
  </div>
  <div class="contents-right">
    <h3> Kroger Technology Summer Internship </h3>
    <ul>
      <li> Summer Intern </li>
    </ul>
    <p>During the summer of 2019 I was able to intern at Kroger Technology with the Desktop Engineering team. I built a web application using ASP.net with SQL, HTML, CSS, JavaScript, and Bootstrap. My time with Kroger taught me how to be a self-driven and independent employee. Working mainly by myself to set my own goals and milestones to complete my assignment.</p>
    <a class="project-link" href="https://www.kroger.com/livekt/">Check it out</a>
  </div>
</div>
<!-- Hack Club -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cincyhackslogo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CincyHacks </h3>
    <ul>
      <li> Making History</li>
    </ul>
    <p>I can say with much pride that I was involved in the first ever student ran hackathon in the Cincinnati area called Cincyhacks. With running crowd control and racing from group to group answering coding questions. I somehow stayed up all twenty-four hours to help my team finish our project, and we still got first place in one of the categories winning a bluetooth speaker.</p>
    <a class="project-link" href="https://cincyhacks.com/">Check it out</a>
  </div>
</div>

<!-- VVR -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/small_logo.png" | prepend: site.baseurl }}" style="width:400px;height:250px;"/>
  </div>
  <div class="contents-right">
    <h3> Various Views Research Internship </h3>
    <ul>
      <li> Web Developer </li>
    </ul>
    <p>I had the fantastic opportunity to work with the people at Various Views Research in Blue  Ash, Ohio. During my the internship team as a web developer, I created new web pages and designed graphics to increase website flow and ease of navigation through their website. It was a great learning experience. I was able to expand my knowledge of Word Press and various and different plugins.</p>
    <a class="project-link" href="https://variousviews.com/">Check it out</a>
  </div>
</div>
<!-- Silicon -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/siliconedge.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Silicon Edge Robotics </h3>
    <ul>
      <li> Robot Competition</li>
    </ul>
    <p>Some people may see me as a solfware only type of guy. But joining the First Tech Challenge team Silicon Edge 10341.  Being part of this challenge was one of the best decisions I have made. While on the team, I gained a new perspective of technology and  broadened my view and knowledge of coding. The experience I came away with, helping to build and code our robot,  was invaluable. Seeing my code producing the commands for our robot, made me more aware of what I was actually coding. Now, I visualize my code as dynamic and think  about the end product of mycoding before I touch the keyboard.</p>
    <a class="project-link" href="https://www.siliconedgerobotics.org/">Check it out</a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/applelogo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Custom IOS app </h3>
    <ul>
      <li>App Development</li>
    </ul>
    <p>1/3/2018 The new Mason High School superintendent asked myself and a small group of students to develop a name to face mobile app for IOS, so he could get to know his staff. One of the big issues we came across was that none of us had a Mac. When we realized we needed MacOS to code in Swift and Xcode, we started looking for other was to get this App built.
After digging around we found a work around, a program called phonegap, which can take Html, Css,and<br/>Javascript and turns it into a mobile application for IOS. <br/>We are still building the mobile app.</p>
    <a class="project-link" href="https://www.siliconedgerobotics.org/">Check it out</a> 
  </div>
</div>-->
