<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cincyhackslogo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Making History</li>
    </ul>
    <p>I say with much pride that I has involved the first ever student ran hackathon in the Cincinnati area. With running crowd control and racing from group to group answering coding questions. I stayed up all twenty-four hours to help my team finish our project, and we still got first place in one of the categories.</p>
    <a class="project-link" href="https://cincyhacks.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/siliconedge.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Robot Competition</li>
    </ul>
    <p>Some people may see me as a solfware only type of guy. But joining the First Tech Challenge team Silicon Edge 10341 was one of the best decisions I ever made. While on the team it gave me a new perspective of technology and more specify coding. Because as I helped to build and code our robot I saw the repercussions of my code play out on the robot. This made me more aware of what I was actually coding.</p>
    <a class="project-link" href="https://www.siliconedgerobotics.org/">Check it out</a>
  </div>
</div>
